<div class="contact">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Dante Pileckas</h1>
                <h2>Estudiante de Análisis en Sistemas,</h2>    
                <h2>Diseñador UX.</h2>            
        
        </div>
        </div>
        <div class="row back"> 
            <div class="col-md-4 contact-data">
                <img (click)="Wpp()"  target="blank" src="assets/img/wpp.png" alt="Whatsapp" width="50">
                <p>+54 11 3589-2418</p>
            </div>
            <div class="col-md-4 contact-data">
                <img (click)="Git()"  target="blank" src="assets/img/github-sign.png" alt="Git" width="50">
                <p>DantePileckas</p>
            </div>
            <div class="col-md-4 contact-data">
                <img (click)="Linkedin()" target="blank" src="assets/img/linkedin.png" alt="linkedin" width="50">
                <p>Dante Pileckas</p>
            </div>
            <br>
            <div class="col-md-4 contact-data">
                <img (click)="Behance()"  target="blank" src="assets/img/behance.png" alt="behance" width="50">
                <p>Dante Pileckas</p>
            </div>
            <div class="col-md-4 contact-data">
                <img src="assets/img/gmail.png"  width="50">
                <p>pileckas33@gmail.com</p>
            </div>
        </div>
    </div>
</div>