<div class="container">

    <div class="row">
        <div class="col">
            <h1>Dante Pileckas</h1>
            <h2>Diseñador Ux</h2>
            <h2>Estudiante de Análisis en Sistemas</h2>
        </div>
    </div>  


<div class="row">
    <div class="col">
        <img src="assets/img/github-sign.png" alt="">
        <a href="https://github.com/DantePileckas">DantePileckas</a>   
   </div>
    <div class="col">
        <img src="assets/img/linkedin.png" alt="">
        <a href="https://www.linkedin.com/in/dante-pileckas-4b503b210/">Dante Pileckas</a>   
    </div>
    <div class="col">
        <img src="assets/img/gmail.png" alt="">
        <a href="">pileckas33@gmail.com</a>   
    </div>
    <div class="col">
        <img src="assets/img/behance.png" alt="">
        <a href="https://www.behance.net/dantepileckas">Dante Pileckas</a>   
    </div>
</div>












</div>