<div class="about">
<div class="container">

<div class="row">
    <div class="col-md">
        <h1>About me</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <img src="/assets/img/dos.JPG" class="img-thumbnail img-circle">
    </div>

<div class="col-md-8 bio">
    <div class="row">
            <h3>Pileckas, Dante G.</h3>
            <p>
                I'm Dante Pileckas, designer and Systems Analyst student. I am very passionate about learning about technology and designing products through it. I am currently studying to continue growing and consolidating knowledge. My goal is to be able to integrate computer skills, design and user experience using visual communication strategies.
            </p>
            <ul class="bio-details">
                <li><strong>Birth:</strong> 12/06/2003</li>
                <li><strong>Age:</strong> {{ '2003/06/12' | birthDay }} años</li>
                <li><strong>City:</strong> Capital Federal, Buenos Aires</li>
                <li><strong>Hobbies: </strong> 
                    <div class="icon">
                    <img src="/assets/img/teatro.png">
                    <img src="/assets/img/planta.png">
                    <img src="/assets/img/libro.png" >
                    <img src="/assets/img/cocina.png">
                </div>
                </li>
            </ul>
    </div>
</div>




</div>
</div>