<div class="about">
<div class="container">

<div class="row">
    <div class="col-md">
        <h1>Acerca de mí</h1>
    </div>
</div>

<br>

<div class="row">
    <div class="col-md-4">
        <img src="/assets/img/dos.JPG" class="img-thumbnail img-circle">
    </div>

<div class="col-md-8 bio">
    <div class="row">
            <h3>Pileckas, Dante G.</h3>
            <p>
                Soy Dante Pileckas, diseñador ux y estudiante de análisis en sistemas. 
                Me apasiona mucho aprender acerca de la tecnología y diseñar productos a través de las mismas. 
                Actualmente me encuentro estudiando y capacitándome, para seguir creciendo y consolidando conocimientos.
                Mi objetivo es poder integrar habilidades de informática, diseño y experiencia de usuario, 
                utilizando estrategias de comunicación visual.
            </p>
            <ul class="bio-details">
                <li><strong>Cumpleaños:</strong> 12/06/2003</li>
                <li><strong>Edad:</strong> {{ '2003/06/12' | birthDay }} años</li>
                <li><strong>Ciudad:</strong> Capital Federal, Buenos Aires</li>
                <li><strong>Hobbies: </strong> 
                    <div class="icon">
                    <img src="/assets/img/teatro.png">
                    <img src="/assets/img/planta.png">
                    <img src="/assets/img/libro.png" >
                    <img src="/assets/img/cocina.png">
                </div>
                </li>
            </ul>
    </div>
</div>




</div>
</div>