.container{
    display: flex;
    justify-content: center;
}

            .info{
                display: flex;
                align-items: center;
                flex-direction: column;
                justify-content: center;
            }


            .round-pic{
                text-align: center;
            }

            .round-pic img{
                border-radius: 250px;
                width:450px; 
                height: 440px;                
                box-shadow: 3px 3px 3px #90ddc4, -3px -3px 3px #fafafa;
            }
            
            
            .info h5{
                width: 103px;
                height: 37px;
                /* left: 61px; */
                top: 241px;                
                font-family: Times New Roman;
                font-style: normal;
                font-weight: normal;
                font-size: 25px;
                line-height: 29px;
                
                color: #FFFFFF;  
                text-shadow: 2px 2px 4px #000000;   
            }

            .info h1{
                width: 359px;
                height: 69px;
                top: 278px;

                font-family: "Times New Roman";
                font-style: normal;
                font-weight: normal;
                font-size: 60px;
                line-height: 69px;
                color: #FFFFFF;
                text-shadow: 2px 2px 4px #000000;
            }

            .info h3{
                 width: 415px;
                height: 29px;
                /* top:363px;  */
                font-family: "Times New Roman";
                /* font-style: normal;
                font-weight: normal; */
                /* line-height: 29px;  */
                color: #000;
                font-size: 1.1em;
                color: #fff;   
                position: relative;
                float: left;
            }

            h3 span {
                position: absolute;               
                right:0;
                width:0;
                background: #057B7C ;
                border-left: 1px solid #000;
                animation: escribir 6s steps(35) infinite alternate ;
            }

            @keyframes escribir {
                from { width: 100%;
                }
                to { width:0;
                }
            }

             /* @media (max-width: 600px) {
                .info {
                    text-align: center;
                    padding-bottom: 30px;
                }
                .info h1{
                    font-size: 2rem;
                }
                .info h3{
                    font-size: 1.5rem;
                }
            }  */