    <!--Presentación-->

    <div class="container">
        <div class="row">
      
          <!--presentación-->
          <div class="col-md info">
            <h5>Hola, soy</h5>
            <h1>Dante Pileckas</h1>
            <h3>Diseñador Ux y estudiante de Análisis en sistemas
            <span>&#160;</span></h3>
          
          </div>
      
          <!--image1-->
          <div class="col-md">
            <div class="round-pic">
            <img src="/assets/img/uno.jpg" class="img-thumbnail img-circle">
          </div>
        </div>
        
        </div>
    </div>
      
      
      
          
      
              
      
      
      
      
          