<div class="portfolio">
<div class="container">
  
  <!-- Encabezado -->
  <div class="row">
    <div class="col-12 text-center">
     <h1>
     Portafolio
     </h1>
      <p>Projects developed for educational or leisure purposes through new technologies</p>
    </div>
  </div>
  

<br>
  <!-- proyectos -->
  
  <div class="row">

    <!-- Consultorio Veterinario -->

    <mat-card class="card mx-auto my-2">
      <mat-card-header>
        <mat-card-title>Consultorio Veterinario</mat-card-title>
        </mat-card-header>

          <img mat-card-image src="/assets/img/ConsultorioVeterinaria.jpg">

          <mat-card-content>                  
            <p class="card-text">
              Patient manager of a veterinary office to carry out shift records.</p>
            <small>Applied technologies</small><br>
            <span class="badge bg-primary mx-1" >JavaScript</span>
            <span class="badge bg-success  mx-1">React</span>
            <span class="badge bg-success  mx-1">Boostrap</span>
          </mat-card-content>
          <mat-card-actions class="actions">
          <button type="button" (click)="goToUrlVeterinaria()" class="btn btn-link" target="blank">View</button>
          </mat-card-actions>
         </mat-card>


  <!-- Cotizador de Auto -->

  <mat-card class="card mx-auto my-2">
    <mat-card-header>
      <mat-card-title>Car Quote</mat-card-title>
      </mat-card-header>

        <img mat-card-image src="/assets/img/cotizador.jpg">

        <mat-card-content>                  
          <p class="card-text">
            First project done in React. Auto quote according to make, model and year</p>
          <small>Applied technologies</small><br>
          <span class="badge bg-primary mx-1" >JavaScript</span>
          <span class="badge bg-success  mx-1">React</span>
          <span class="badge bg-success  mx-1">Boostrap</span>
        </mat-card-content>
        <mat-card-actions class="actions">
        <button type="button" (click)="goToUrlCotizador()" class="btn btn-link" target="blank">View</button>
        </mat-card-actions>
       </mat-card>


      <!-- SpotiApp -->

     
          <mat-card class="card mx-auto my-2">
            <mat-card-header>
              <mat-card-title>SpotiApp</mat-card-title>
              </mat-card-header>

                <img mat-card-image src="/assets/img/spotiApp.jpg">

                <mat-card-content>                  
                  <p class="card-text">
                    Application that consumes the spotify api, to discover new releases and artists
                  </p>
                  <small>Applied technologies</small><br>
                  <span class="badge bg-primary mx-1" >TypeScript</span>
                  <span class="badge bg-success  mx-1">Angular</span>
                  <span class="badge bg-success  mx-1">Boostrap</span>
                </mat-card-content>
                <mat-card-actions class="actions">
                <button type="button" (click)="goToUrlSpoti()" class="btn btn-link" target="blank">View</button>
                </mat-card-actions>
               </mat-card>





        <!-- El Pueblito, tu tienda -->

          <mat-card class="card mx-auto my-2">
            <mat-card-header>
              <mat-card-title>El Pueblito</mat-card-title>
            </mat-card-header>
            
            <img mat-card-image src="/assets/img/Pueblito.jpg">

            <mat-card-content>                 
              <p class="card-text">Ecommerce of a healthy store, with user analysis and development in Wordpress</p>
            <small>Applied techniques and tools</small><br>
            <span class="badge bg-primary mx-1" >Wordpress</span>
            <span class="badge bg-success  mx-1">Benchmark</span>
            <span class="badge bg-success  mx-1">Polls</span>
            <span class="badge bg-success  mx-1">proto-people</span>
            <span class="badge bg-success  mx-1">AI</span>
            <span class="badge bg-success  mx-1">Usability test</span>
          </mat-card-content> 
            <mat-card-actions class="actions">
              <button type="button" (click)="goToUrlTienda()" class="btn btn-link" target="blank">View</button>
            </mat-card-actions>
            </mat-card>




    </div>
    </div>
    </div>