<div class="contenedor">
    <div class="row">

        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, voluptates dolor reprehenderit autem consequuntur natus commodi ducimus dolorum, ipsum accusantium accusamus dicta eveniet quas, ullam quidem. Rem repellat blanditiis incidunt?</p>
                  <a href="#" class="btn btn-primary">Visitar</a>
                </div>
              </div>
        </div>




        <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas blanditiis iure deserunt! Aspernatur rem, ipsum architecto facere possimus quas minus animi voluptatum quae eveniet officia tempore accusamus recusandae voluptas ipsam!</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>






        <div class="col">
            <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit a minima, accusantium at omnis quos? A odit nostrum excepturi quis blanditiis temporibus, eos quasi! Ullam, illo quae? Sint, porro. Eveniet.</p>
              <a href="#" class="btn btn-primary">Visitar</a>
            </div>
          </div>
        </div>

    </div>
</div>