<div class="container">
    <div class="row">
  
      <!-- ESTUDIOS -->
      <h1>Educación</h1>
  
      <!-- UX -->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">User Experience Analyst</h5>
            <p class="card-text">Educación It</p>
            <p class="card-text">Planificada por 14 cursos</p>
            <p class="card-text"><small class="text-muted">Marzo 2020 - Abril 2021</small></p>
          </div>
        </div>
      </div>
  
  
      <!-- SECUNDARIO -->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Estudios Secundarios</h5>
            <p class="card-text">Instituto San Antonio de Padua</p>
            <p class="card-text">Bachiller con orientación a Ciencias Sociales y Humanidades. <br> Promedio: 9,67.</p>
            <p class="card-text"><small class="text-muted">Marzo 2016 - diciembre 2020</small></p>
          </div>
      </div>
      </div>
  
  
      <!-- ORT -->
      <!-- <div class="col">
         <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Analista de sistemas</h5>
            <p class="card-text">Ort</p>
            <p class="card-text">Ténicatura en Análisis de sistemas</p>
            <p class="card-text"><small class="text-muted">Agosto 2021 - Actualidad</small></p>
          </div> 
        </div> 
      </div> -->
    </div>
  
    <br>
  
  
  <!-- CERTIFICACIONES   -->
    <div class="row">
      <h1>Certificaciones</h1>
  
      <!-- GIT -->
      <div class="col">
        <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Git: Desarrollo Colaborativo</h5>
          <p class="card-text">Educación It</p>
          <p class="card-text"><small class="text-muted">Mayo 2021 - Junio 2021</small></p>
          <a href="">Ver credencial</a>
         </div> 
         </div>
        </div>
  
  
      <!-- BASE DE DATOS   -->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Introducción a bases de datos y SQL</h5>
            <p class="card-text">Educación It</p>
            <p class="card-text"><small class="text-muted">Abril 2020 - Mayo 2020</small></p>
            <a href="">Ver credencial</a>
           </div> 
           </div>
      </div>
  
  
      <!-- PARADIGMA DE OBJETOS -->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Introducción a Paradigma orientado a objetos</h5>
            <p class="card-text">Educación It</p>
            <p class="card-text"><small class="text-muted">Abril 2020 - Mayo 2020</small></p>
            <a href="">Ver credencial</a>
           </div> 
           </div>
      </div>
  
  
  
      <!-- JAVA -->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Introducción a Java</h5>
            <p class="card-text">Educación It</p>
            <p class="card-text"><small class="text-muted">Febrero 2020 - Marzo 2020</small></p>
            <a href="">Ver credencial</a>
           </div> 
           </div>
      </div>
    </div>
  
  
  
  
  
    <!-- EXPERIENCIAS -->
    <br>
    <div class="row">
      <h1>Experiencias</h1>
  
      <!-- EL PUEBLITO -->
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Web designer - freelance</h5>
            <p class="card-text">El Pueblito, tu Tienda Saludable</p>
            <p class="card-text"><small class="text-muted">Febrero 2021 - Abril 2021</small></p>
            <a href="">Visitar Sitio</a>
           </div> 
           </div>
      </div>
    </div>
    <br>
  
  
  
  
  
    <!-- SKILL TECNICOS -->
  <h1>Skills Técnicos</h1>
  
  <!-- PROTOTIPO -->
    <div class="row">
      <div class="col">
        <h3>Prototyping</h3>
        <div class="progress">     
          <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Figma</div>
        </div>
        <br>
        <div class="progress">     
          <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Maravel</div>
        </div>
        <br>
        <div class="progress">     
          <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Adobe xd</div>
        </div>
        </div>
      </div>
  
  
  
  
      <br>
  
  
  
      <!-- RESEARCH -->
      <div class="row">
        <div class="col">
          <h3>Research</h3>
          <div class="progress">     
            <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Miro</div>
          </div>
          <br>
          <div class="progress">     
            <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Google Forms</div>
          </div>
          <br>
          <div class="progress">     
            <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Typeform</div>
          </div>
          </div>
        </div>
  
  
  
        <br>
  
  
        <!-- TESTING -->
        <div class="row">
          <div class="col">
            <h3>Testing</h3>
            <div class="progress">     
              <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Optimal Workshop</div>
            </div>
            </div>
          </div>
  
  
  
          <br>
  
  
          <!-- LENGUAJE -->
          <div class="row">
            <div class="col">
              <h3>Javascript, Frameworks and Libraries</h3>
              <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >React JS</div>
              </div>
              <br>
              <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Angular</div>
              </div>
              <br>
              <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Angular Material</div>
              </div>
              <br>
              <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >JQuery</div>
              </div>
              <br>
              <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Typescript</div>
              </div>
              </div>
            </div>
  
  
           <br>
  
  
  
           <!-- CSS -->
           <div class="row">
             <div class="col">
               <h3>Css</h3>
               <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Css</div>
              </div>
              <br>
              <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated">Boostrap</div>
              </div>
             </div>
           </div>
  
  
  
           <br>
  
  
           <!-- VERSIONADO -->
           <div class="row">
             <div class="col">
               <h3>Versionado</h3>
               <div class="progress">     
                <div class="progress-bar w-25 progress-bar-striped progress-bar-animated" >Git: Desarrollo colaborativo</div>
              </div>
             </div>
           </div>
          </div>
  