h1{
    text-align: center;
    font-weight: bolder;
    margin-bottom: 25px;
    color: #fff;
    text-shadow: 2px 2px 4px #000000;
} 
.container{
    padding: 20px 0 70px;
   
}

img{
border-radius: 40%;
margin: 5px;
width: 25px;
height: 25px;
}

a{
    display: flex;
    justify-content: center;

}

.card {
max-width: 300px;
border-radius:15px;
display: flex;
justify-content: center;
}


.space{
    display: flex;
    justify-content: space-between;
}

.space .card{
border-radius:15px;
display: flex;
justify-content: center;
text-align: center;
background-color: rgb(144, 61, 221);
}

.space p{
    font-size: 15px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.space img{
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
}

.space img:hover{
        -webkit-transform: scale(1.1);
        transform: scale(1.1)
}

.space .row{
    justify-content: space-around;
}

.card-body{
    display: flex;
    justify-content: center;
}

.space p{
    font-size: 14px;
}